/*
GENERAL STYLES
*/

html {
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.7;
    color: #34495e;
}

.container-fluid {
    background-color: #f0f2f4;
}

.container {
    max-width: 960px;
    position: relative;
}

.container h1 {
    font-weight: 300;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
    color: #34495e;
    line-height: 1.3;
    font-size: 3.2rem;
}

.container h1 a:active {
    text-decoration: none;
}

.container h1 a:visited {
    text-decoration: none;
}

@media (min-width: 768px) {
        .container h1 {
        font-size: 4rem;
    }
}

.container h1 span {
    color: #2980b9;
}

.container p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.9;
}

.container a {
    -webkit-transition: .3s;
    transition: .3s;
}

.container a:hover {
    color: #34495e;
    text-decoration: none;
}

/*
NAVIGATION
*/

.navbar {
    font-size: 1.8rem;
    margin: 2rem 0 0 0;
}

@media (min-width: 768px) {
        .navbar {
        margin: 5rem 0 0 0;
    }
}

.navbar-default {
    border: none;
    background-color: none;
}

.navbar-default, .container-fluid {
    padding: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-collapse ul li{
    margin: 10px 0;
    text-align: center;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-brand {
    color: #34495e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #2980b9;
}

.navbar-default .navbar-nav > li > a {
    color: #34495e;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2980b9;
}

.navbar-header {
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .navbar-header {
        padding: 0;
    }
}

/*
HEADER
*/

header {
    max-width: 70rem;
    margin: 5rem 0 8rem 0;
}

@media (min-width: 768px) {
        header {
        margin: 8rem 0 10rem 0;
    }
}

header p {
    font-size: 1.5rem !important;
}

@media (min-width: 768px) {
        header p{
        font-size: 1.8rem !important;
    }
}

/*
ABOUT ME
*/

#about {
    margin-top: 4rem;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        #about {
        padding: 0;
        margin-top: 6rem;
    }
}

.about_title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #34495e;
    padding-bottom: 20px;
}

.about_text p {
    font-weight: 300;
    font-size: 1.5rem !important;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
        .about_title, .about_text p {
        font-size: 1.8rem !important;
    }
}

#services {
    margin-top: 4rem;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        #services {
        padding: 0;
        margin-top: 6rem;
    }
}

.services_title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #34495e;
    padding-bottom: 20px;
}

.services_text {
    font-weight: 300;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
        .services_title, .services_text {
        font-size: 1.8rem !important;
    }
}

.services_text ul {
    list-style: none;
    padding: 0;
}

.services_text ul li {
    padding-bottom: 3rem;
}

.about-me-img img {
    max-width: 100%;
}

/*
FOOTER
*/

.footer {
    margin-top: 4rem;
    padding: 0 15px 7rem 15px;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 28px;
}

@media (min-width: 768px) {
        .footer {
        padding: 0 0 7rem 0;
        margin-top: 8rem;
    }
}

.footer a {
    text-decoration: none;
    color: #34495e;
    -webkit-transition: .3s;
    transition: .3s;
}
.footer a:hover {
    color: #2980b9;
}
.social a {
    margin-right: 20px;
    float: left;
}
.email {
    float: left;
}

@media (min-width: 768px) {
        .email {
        float: right;
    }
}

.imprint {
    margin-top: 8rem;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .imprint {
        padding: 0;
    }
}

.medium-weight {
    font-weight: 400;
}

/*
PORTFOLIO HOMEPAGE
*/

.portfolio {
    margin-top: -3rem;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .portfolio {
    padding: 0;
    }
}

.portfolio > div:nth-of-type(1) {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
        .portfolio > div:nth-of-type(1) {
    margin-bottom: 3rem;
    }
}

.portfolio > div:nth-of-type(2) {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
        .portfolio > div:nth-of-type(2) {
    margin-bottom: 0;
    }
}

.img-hover {
    position: relative;
}

.img-hover .hover-titel {
    position: absolute;
	bottom: 0px;
	left: 30px;
	z-index: 999;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	color: #fff;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.img-hover .hover-titel h3 {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 768px) {
        .img-hover .hover-titel h3 {
        font-size: 3rem;
    }
}

.img-hover .hover-titel p {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

@media (min-width: 768px) {
        .img-hover .hover-titel p {
        font-size: 1.5rem;
    }
}

.img-hover:hover .hover-titel {
	bottom: 1.5rem;
	opacity: 1;
}

.portfolio1 {
	background: #33926a;
}

.portfolio2 {
	background: #74a382;
}

.portfolio3 {
	background: #56788b;
}

.img-hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-hover:hover img {
	opacity: 0;
}

/*
PORTFOLIO CASE STUDIES
*/

.project {
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .project {
        padding: 0;
    }
}

.project p {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1.5rem 0 0 0;
}

@media (min-width: 768px) {
        .project p {
        font-size: 1.8rem !important;
    }
}

.project h2 {
    margin: 5rem 0 2rem 0;
    font-weight: 500;
    font-size: 1.8rem;
    color: #34495e;
    text-transform: uppercase;
}

.project-image {
    padding: 2rem 0 1.5rem 0;
    width: 100%;
    height: auto;
}

.project figcaption {
    color: #92989d;
}

.project figure {
    margin: 2rem 0 4rem 0;
}

/*
BLOG LANDINGPAGE
*/

#selected_work {
    width: 100%;
    margin-top: 4rem;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        #selected_work {
        margin-top: 4rem;
        padding: 0;
    }
}

#works a {
    display: block;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}

#works:hover a {
    opacity: .2;
}

#works:hover .work_line:hover a:hover {
    opacity: 1;
}

.work_line {
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 90px;
}

.work_line a {
    text-decoration: none;
}

.project_title {
    line-height: 90px;
    float: left;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
    text-decoration: none;
    color: #34495e;
}

.project_info {
    line-height: 90px;
    padding-left: 50%;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
    text-decoration: none;
    color: #34495e;
}

.project img {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
        .project_info {
        display: none !important;
    }
}


@media (min-width: 768px) {
        .project_title, .project_info {
        font-size: 1.8rem !important;
    }
}

.subpage {
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .subpage {
        margin: 4rem 0 6rem 0;
        padding: 0;
    }
}

.subpage-home {
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .subpage-home {
        padding: 0;
    }
}

.newsletter{
    margin: 5rem 0 0 0;
}

.date {
    text-align: right;
}

/*
BLOG ARTICLE
*/

.article-page {
    margin: 10rem 0 0 0;
    max-width: none;
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .article-page {
        padding: 0;
    }
}

.article-page h1 {
    line-height: 1.4;
}

.goback {
    margin: 2rem 0 0 0;
}

@media (min-width: 768px) {
        .goback {
        margin: 4rem 0 0 0;
    }
}

.blog-article {
    margin-top: 3rem;
}

.blog-article h2 {
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.3;
}

.blog-article strong {
    font-weight: 400;
}

.blog-article ul {
    margin: 4rem 0 3rem 0;
}

.blog-article ul li{
    font-size: 1.8rem;
    line-height: 2;
}

/*
PHOTOGRAPHY
*/

.photography-grid {
    padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
        .photography-grid {
        padding: 0;
    }
}

.photography-item {
    margin-top: 3rem;
}

/* Featherlight Fix */

@media all {
 .featherlight .featherlight-content {
  padding: 0;
  border: none;

  min-width: inherit;
 }

 .featherlight .featherlight-image {
    max-width: 100%;
    border: 20px solid #fff;
 }
}

@media only screen and (max-width: 1024px) {
 .featherlight .featherlight-content {
  padding: 0;
  border: none;
 }
}
