a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;

    background-image: linear-gradient(color(brand, yellow), color(brand, yellow));
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 85%;
    transition: all 0.25s ease;
  }
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    color: inherit;

    background-size: 100% 100%;
  }
}
