p {
  margin-top: 0;
  margin-bottom: $baseline;
  color: inherit;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

::selection {
  color: color(ambient, dark);
  background: color(brand, yellow);
}

.horizontal-line {
  display: block;
  height: 1px;
  background: #EBECF0;
  width: 100%;
}
