<div class="footer">
  <div class="social">
     <a href="https://twitter.com/robinstickel" target="_blank" title="Robin Stickel on Twitter">Twitter</a>
     <a href="https://dribbble.com/robinstickel" target="_blank" title="Robin Stickel on Dribbble">Dribbble</a>
     <a href="https://www.instagram.com/verpixelt/" target="_blank" title="Robin Stickel on Instagram">Instagram</a>
     <a href="/imprint/" title="Imprint">Imprint</a>
  </div>
  <div class="email">
    <a href="mailto:hello@robinstickel.com">Get in touch.</a>
  </div>
</div>
