<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            robinstickel.
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-me">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="collapse-me">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" title="Portfolio of Robin Stickel">Work</a></li>
                <li><a href="/about/" title="Information about Robin Stickel">About</a></li>
                <li><a href="/blog/" title="Personal Blog">Blog</a></li>
                <!-- <li><a href="/reading/" title="Personal Reading List">Reading</a></li> -->
            </ul>
        </div>
    </div>
</nav>
