@function spacing($value) {
  @return $base-spacing * map_get($spacing, $value);
}

@function text-spacing($value, $font-size: 'base', $viewport: 'lg', $responsive: true) {
  $font: map-get(map-get($font-sizes, $viewport), $font-size);
  $font-size: nth($font, 1);
  $line-height: nth($font, 2);
  @return ($base-spacing * map-get($spacing, $value)) - (($line-height - $font-size) / 2);
}
