/*------------------------------------*\
    VARS

    basic vars
\*------------------------------------*/

$base-line-height: 1.5;
$base-font-family: 'Work Sans', Helvetica, Arial, sans-serif;
$base-letter-spacing: 1.3px;


/*------------------------------------*\
    SIZING & SPACING


\*------------------------------------*/

/*
** PAGE SIZES
*/

$page-max-size: 1600px;


/*
** SPACING RHYTHM
*/

$base-spacing: 4px;
$baseline: $base-line-height * 1rem;
