$color-brightness-step: 10%;

$colors: (
  base: (
    base: rgb(9, 30, 66),
    light: rgb(193, 199, 208),
    lighter: rgb(223, 225, 229)
  ),
  ambient: (
    light: rgb(255, 255, 255),
    base: rgb(250, 251, 252),
    dark: rgb(0, 0, 0)
  ),
  brand: (
    blue: rgb(0, 101, 255),
    yellow: rgb(255, 212, 0)
  )
);
