/*------------------------------------*\
    FONT


\*------------------------------------*/

$font-sizes: (
    lg: (
        xs: (12px, 18px),
        s: (14px, 22px),
        base: (18px, 26px),
        l: (18px, 28px),

        h1: (41px, 49px),
        h2: (34px, 40px),
        h3: (28px, 36px),
        h4: (22px, 28px),
        h5: (18px, 24px),
        h6: (16px, 22px)
    ),

    sm: (
        xs: (12px, 18px),
        s: (14px, 22px),
        base: (18px, 26px),
        l: (18px, 28px),

        h1: (36px, 42px),
        h2: (32px, 38px),
        h3: (26px, 33px),
        h4: (22px, 28px),
        h5: (18px, 24px),
        h6: (16px, 22px)
    ),

    xs: (
        xs: (10px, 14px),
        s: (12px, 18px),
        base: (16px, 22px),
        l: (18px, 26px),

        h1: (34px, 40px),
        h2: (30px, 34px),
        h3: (26px, 33px),
        h4: (22px, 28px),
        h5: (18px, 24px),
        h6: (16px, 22px)
    )
);