<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	
	<body>
		<div class="container-fluid">
			<div class="container">
				{% include navbar.html %}
				
				{{ content }}
			
				{% include footer.html %}
		</div>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.js"></script>
	</body>
</html>